:root {
  --width: 0px;
  --transform: -6rem;
}
body {
  font-family: "Inter", sans-serif;
}
.App {
  display: grid;
  transition: all 0.5s;
  grid-template-areas: "nav main";
  grid-template-columns: var(--width) 1fr;
}
.App .side-nav {
  grid-area: nav;
  transform: translateX(var(--transform));
}
.App main {
  grid-area: main;
}
.user-auth {
  --current-color: #2320cc;
}
.user-auth .cta {
  width: 315px;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: var(--p-3) var(--p-2);
}
.user-auth .text-error {
  align-self: flex-start;
  margin: var(--p-2) 0;
  color: var(--current-color);
}
@media all and (min-width: 600px) {
  .user-auth {
    width: 30vw;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .user-auth .cta {
    width: 23vw;
  }
}
