.quiz .question {
  box-shadow: 1px 1px 10px #d1d1d1;
  box-sizing: border-box;
  padding: var(--p-4);
  border-radius: var(--br-3);
  display: flex;
  flex-direction: column;
  margin: 0 auto var(--p-4);
}
.quiz .option {
  text-transform: capitalize;
  padding: var(--p-1);
  cursor: pointer;
  border-radius: var(--br-1);
  margin-bottom: var(--p-1);
}
.quiz .option input[type="radio"] {
  cursor: pointer;
}
.quiz .option label {
  margin-left: var(--p-2);
}
.quiz .option:hover,
.quiz .option:focus {
  transition: all 0.3s;
  color: #2320cc;
  outline: 1px solid #2320cc;
}
.quiz .btn-success,
.quiz .cta {
  align-self: flex-end;
  padding: var(--p-2) !important;
}
.quiz .btn-success:hover svg,
.quiz .cta:hover svg {
  animation: backAndForth 0.3s forwards;
}
.quiz .result {
  border: 1px solid #adadb4;
  box-shadow: 1px 1px 10px #d1d1d1;
  padding: var(--p-5);
  border-radius: var(--br-2);
  box-sizing: border-box;
}
.quiz .result .chosen,
.quiz .result .correct {
  color: #fff;
}
.quiz .result .chosen {
  color: var(--c-danger-200);
  outline: 1px solid var(--c-danger-200);
}
.quiz .result .correct {
  font-weight: 600;
  color: var(--c-success-200);
  outline: 1px solid var(--c-success-200);
}
@media all and (min-width: 600px) {
  .quiz .question {
    padding: var(--p-6) var(--p-6) var(--p-4);
  }
}
