.menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: calc(100vw - var(--width));
  z-index: var(--z-1);
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #adadb4;
}
.menu .btn-c-base {
  padding: var(--p-3);
}
.menu .btn-c-base:hover {
  background-color: #f5f5f5;
}
.menu a {
  display: inline-flex;
  align-items: center;
  padding: 0 var(--p-2);
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
  text-transform: capitalize;
}
.menu a:hover {
  transition: all 0.4s;
  background-color: #f5f5f5;
}
.menu .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--fsz-1);
  font-weight: 500;
  color: #000;
}
.menu .logo img {
  height: 30px;
  margin: 0 var(--p-1) 0 0;
}
.menu .input-addon-base {
  margin: 0 auto;
}
.menu .cta {
  font-weight: 550;
}
.menu .cta svg {
  vertical-align: middle;
}
.menu .account {
  margin: 0 var(--p-3);
}
.menu .account svg {
  height: 40px;
  width: 40px;
}
@media all and (min-width: 600px) {
  .menu .btn-c-base {
    margin: 0 var(--p-2);
  }
  .menu a {
    padding: 0 var(--p-4);
  }
}
