@keyframes backAndForth {
  100% {
    transform: translateX(0.5rem);
  }
}
.show {
  --width: 90px;
  --transform: 0;
}

.not-allowed {
  cursor: not-allowed !important;
}

.mx-auto {
  margin: 0 auto;
}

.heading {
  font-size: var(--fsz-2);
  font-weight: 500;
}

.icon {
  height: 100px;
}

.cta {
  background-color: #5553ff !important;
  color: #fff !important;
}
.cta:hover {
  background-color: #2320cc !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn-disabled {
  background-color: #5653ff70 !important;
  pointer-events: none;
}

.container {
  margin-top: 60px;
  padding: 2rem var(--p-3) 0;
  box-sizing: border-box;
}
@media all and (min-width: 600px) {
  .container {
    padding: 3rem 0 0;
    margin: 60px auto 0;
  }
}
.input-addon-base {
  display: inline-flex;
  align-items: center;
  padding: var(--p-1) var(--p-2);
  border-radius: var(--br-1);
  border: 1px solid var(--icon-primary-300);
}
.input-addon-base input {
  border: 0;
  padding: var(--p-2);
  background-color: transparent;
  font-family: "inter", sans-serif;
  font-weight: 500;
}
.input-addon-base input:focus,
.input-addon-base input:active {
  outline: 0;
}
.input-addon-base .icon {
  vertical-align: middle;
  font-size: var(--fsz-1);
  padding: var(--p-2) 0 0;
  color: var(--c-base-200);
}
.input-addon-base:focus-within .icon {
  color: var(--c-base-300);
}

.quiz-grid .heading {
  text-align: center;
}
.quiz-grid .flex-layout {
  padding: var(--p-7) 0 0;
  justify-content: center;
}

@media all and (min-width: 600px) {
  .heading {
    font-size: var(--fsz-3);
  }
  .quiz-grid .flex-layout > * {
    margin: 0 var(--p-4) var(--p-7) 0;
  }
}
