.user-auth {
  margin-top: 30px;
  --current-color: #2320cc;
}
.user-auth .cta {
  width: 315px;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: var(--p-3) var(--p-2);
}
.user-auth .text-error {
  align-self: flex-start;
  margin: var(--p-2) 0;
  color: var(--current-color);
}

@media all and (min-width:600px) {
  .user-auth{
    margin-top: 0;
  }
}